<!DOCTYPE html>
<html>
<head>
  <title>FailureLog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="/">Failure Log</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <li>
                    <%= link_to "過去の失敗を見る", "failures/list" %>
                  </li>
                  <li>
                    <%= link_to "失敗を記録する", "failures/new" %>
                  </li>
                  <li>
                    <%= link_to "Sign Out", "/users/sign_out", method: :delete %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "失敗を記録する", "failures/new" %>
                  </li>
                  <li>
                    <a href="/users/sign_in">ログイン</a>
                  </li>
                  <li>
                    <a href="/users/sign_up">新規登録</a>
                  </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<% #TODO: フラッシュメッセージが必要ないときに幅を取られないように設定する %>
<!--   <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->



<%= yield %>

</body>
</html>
